*
  transition: .3s ease-in-out

html
  scroll-behavior: smooth

body
  margin: 0
  padding: 0
  font-family: $font

.wrapper
  position: relative
  max-width: 1450px
  margin: 0 auto
  padding: 0 20px

a
  text-decoration: none

a, a:visited, a:link
  color: inherit

a, p
  font-size: 18px


main
  margin-top: 200px
  min-height: 700px