.primary-button
  color: $black
  width: max-content
  background: #fff
  border: 1px solid $black
  border-radius: 25px
  padding: 10px 20px
  &:hover
    color: #fff
    background: $black

.secondary-button
  width: max-content
  color: #fff!important
  background: $black
  border: 1px solid $black
  border-radius: 25px
  padding: 10px 20px
