.primary-button
  color: black
  background: #fff
  border: 1px solid black
  border-radius: 25px
  padding: 10px 20px
  &:hover
    color: #fff
    background: black

.secondary-button
  color: #fff!important
  background: black
  border: 1px solid black
  border-radius: 25px
  padding: 10px 20px
