.primary-button
  width: max-content
  background: #fff
  border-radius: 25px
  font-size: 16px
  font-weight: 500
  padding: 10px 20px
  cursor: pointer
  border: 1px solid #1c4cca
  color: #1c4cca!important
  &:hover
    @media screen and (min-width: 1300px)
      color: #fff!important
      background: #1c4cca

.secondary-button
  cursor: pointer
  width: max-content
  font-size: 16px
  font-weight: 500
  border: none
  color: #fff!important
  background: #1c4cca
  border-radius: 25px!important
  padding: 10px 20px





