header
  .wrapper
    nav
      display: flex
      align-items: center
      justify-content: space-between
      .home-logo
        width: 200px
        height: 190px
        position: relative
        img
          width: 100%
          max-width: 300px
          height: auto
          position: relative
          right: 50px
        p
          position: absolute
          top: 90px
          font-weight: bold
          left: 35px
          text-shadow: 1px 1px 1px white
      .nav-bar
        ul
          display: flex
          list-style: none
          gap: 20px
