header
  box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08)
  position: fixed
  top: 0
  left: 0
  z-index: 4
  width: 100%
  background: #fff
  .info
    background: $blue
    padding: 10px 0
    .wrapper
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 20px
      @media screen and (min-width: 900px)
        justify-content: space-between
      .info-item
        display: flex
        align-items: center
        gap: 10px
        color: #ffffff
        text-align: center
        &.mail
          a
            display: flex
            gap: 10px
        img
          width: 16px
          height: auto
          display: none
          @media screen and (min-width: 900px)
            display: block
  .wrapper
    nav
      display: flex
      align-items: center
      justify-content: space-between
      .home-logo
        width: 120px
        position: relative
        height: 120px
        display: flex
        align-items: center
        @media screen and (min-width: 900px)
          height: 155px
          width: 155px
        @media screen and (min-width: 1300px)
          width: 200px
        img
          width: 100%
          height: auto
      .burger-menu
        width: 40px
        cursor: pointer
        transition: .3s ease-in-out
        overflow: hidden
        @media screen and (min-width: 900px)
          display: none
        &.active
          .stripe-mid
            position: relative
            left: -100%
          .stripe-top
            rotate: 45deg
            position: relative
            top: 13px
          .stripe-bottom
            rotate: -45deg
            position: relative
            bottom: 13px
        .stripe
          width: 100%
          height: 3px
          background: #6ca6cd
          border-radius: 10px
          margin: 10px 0
          transition: .3s ease-in-out
      .nav-bar
        &.desktop
          display: none
          @media screen and (min-width: 900px)
            display: block
          ul
            display: flex
            list-style: none
            gap: 20px
          .cookie-settings
            font-weight: 500
            position: absolute
            left: 50%
            transform: translateX(-50%)
            color: #6CA6CD
          .shop-button
            opacity: 0
            @media screen and (min-width: 1000px)
              opacity: 1
            &:hover
              background: #ffffff!important
              color: #6ca6cd!important
        &.mobile
          display: none
          position: absolute
          overflow-x: scroll
          z-index: 10
          height: calc(100vh - 85.85px)
          top: 120px
          left: 0
          width: 100%
          transition: opacity .3s ease-in-out
          background: $blue
          & > div
            justify-content: center
          ul
            display: flex
            flex-direction: column
            align-items: center
            gap: 20px
            padding: 50px 0
            list-style: none
            li
              a
                color: #fff
                border: none
                border-radius: 0

