.single
  main
    .wrapper
      .single-course
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.15)
        position: relative
        width: calc(100% - 40px)
        max-width: 900px
        background: #fff
        padding: 20px
        margin: 200px 0 100px
        @media screen and (min-width: 700px)
          padding: 40px
          width: calc(100% - 80px)
          margin: 200px 0 0
        .course-further-info
          display: flex
          flex-direction: column